<div class="topNav">
    <div class="container">
        <div class="websiteName" (click)="goRoot()">
            <img src="{{APP_URL}}/assets/img/reversify-logo-white.svg" alt="Reversify">
        </div>
    </div>
</div>


<div class="icon-menu">
    <div class="container">
        <div class="col-sm-12">
            <div class="content">
                <ul>
                    <li><a *ngIf="preview.home == 0" (click)="goHome()"><img src="{{APP_URL}}/assets/img/home.png" alt="Home"></a>
                    </li>
                    <li><a *ngIf="preview.home == 1" (click)="goHome()"><img src="{{APP_URL}}/assets/img/ghome.png" alt="Home"></a>
                    </li>
                    <li><a *ngIf="preview.car == 0" (click)="goCar()"><img src="{{APP_URL}}/assets/img/car.png" alt="Car"></a></li>
                    <li><a *ngIf="preview.car == 1" (click)="goCar()"><img src="{{APP_URL}}/assets/img/gcar.png" alt="Car"></a>
                    </li>
                    <li><a *ngIf="preview.insurance == 0" (click)="goInsurance()"><img src="{{APP_URL}}/assets/img/insurance.png"
                                                                                       alt="Insurance"></a></li>
                    <li><a *ngIf="preview.insurance == 1" (click)="goInsurance()"><img src="{{APP_URL}}/assets/img/ginsurance.png"
                                                                                       alt="Insurance"></a></li>
                    <li><a *ngIf="preview.loan == 0" (click)="goLoan()"><img src="{{APP_URL}}/assets/img/loan.png" alt="Loan"></a></li>
                    <li><a *ngIf="preview.loan == 1" (click)="goLoan()"><img src="{{APP_URL}}/assets/img/gloan.png" alt="Loan"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="MainContent">
    <div class="container">
        <div class="col-sm-12">
            <div class="content">

                <!--Default Overview-->
                <div class="homeLoan animated previewUp">
                    <div class="panel panel-primary noMargin" *ngIf="preview.overview == 1">
                        <div class="panel-heading">
                            <h1 class="text-center"><strong>Reversify Marketplace</strong></h1>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-8">
                                <div class="offersFlex">
                                    <p>
                                        Imagine a marketplace of banks and financial institutions, where you can access
                                        products, matched specifically against your profile, at the click of a button. Where
                                        you
                                        can obtain expert advice on all of these products to help you make the best
                                        financial
                                        decisions.
                                        <br><br>
                                        That’s what Reversify does.
                                        <br><br>
                                        Please choose a product to proceed with your enquiry.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <img class="specialisedoffers" src="{{APP_URL}}/assets/img/specialisedoffers.jpg"
                                     alt="specialisedoffers">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Home Loan-->
                <div class="homeLoan animated previewUp" *ngIf="preview.home == 1">
                    <div class="col-sm-12">
                        <p class="alert alert-info text-center">
                            <strong>
                                We believe that applying for a loan should be as easy as updating your Facebook status.
                                <br>
                                We use your financial profile and match it against our lenders guidelines and find you
                                the best
                                option for your circumstances.
                            </strong>
                        </p>
                    </div>
                    <div class="col-sm-12 noPadding">
                        <form>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="text-large">Loan Purpose</label>
                                    <select class="form-control input-lg">
                                        <option value="0" hidden="hidden">Loan Purpose</option>
                                        <option value="Purchase established">Purchase established</option>
                                        <option value="Purchase new">Purchase new</option>
                                        <option value="Build / renovate">Build / renovate</option>
                                        <option value="Refinance / consolidate debts">Refinance / consolidate debts
                                        </option>
                                        <option value="I’d like to access my equity">I’d like to access my equity
                                        </option>
                                    </select>
                                </div>
                                <div class="margin-10"></div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <label class="text-large">Borrowers</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="Borrow1" name="Borrow" checked>
                                        <label for="Borrow1">I am the sole owner</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Borrow2" name="Borrow">
                                        <label for="Borrow2">Both of us as co-owners</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Borrow3" name="Borrow">
                                        <label for="Borrow3">Others</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group radio-button">
                                    <label class="text-large">Property Use</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="Use1" name="Use" checked>
                                        <label for="Use1">Owner Occupy</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Use2" name="Use">
                                        <label for="Use2">Both of us as co-owners</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Use3" name="Use">
                                        <label for="Use3">Others</label>
                                    </p>
                                </div>
                                <div class="margin-10"></div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <label class="text-large">
                                        Preferred contact method</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="Contact1" name="Contact" checked>
                                        <label for="Contact1">Email</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Contact2" name="Contact">
                                        <label for="Contact2">Phone</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group radio-button">
                                    <label class="text-large">Anything else?</label>
                                    <textarea name="des" rows="5" class="form-control"
                                              placeholder="Anything else?"></textarea>
                                </div>
                                <div class="margin-10"></div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <button type="button" class="btn btn-lg btn-block btn-warning"
                                            (click)="home.submitted = 1">Submit Enquiry
                                    </button>
                                </div>
                                <div class="form-group radio-button" *ngIf="home.submitted == 1">
                                    <p class="alert alert-info">
                                        Thank you for submitting your offer application. We will contact you as soon as
                                        possible
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--Car Loan-->
                <div class="homeLoan animated previewUp" *ngIf="preview.car == 1">
                    <div class="col-sm-12">
                        <p class="alert alert-info text-center">
                            <strong>
                                We believe that applying for a loan should be as easy as updating your Facebook status.
                                <br>
                                We use your financial profile and match it against our lenders guidelines and find you
                                the best
                                option for your circumstances.
                            </strong>
                        </p>
                    </div>
                    <div class="col-sm-12 noPadding">
                        <form>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="text-large">Loan Type</label>
                                    <select class="form-control input-lg">
                                        <option value="0" hidden="hidden">Loan Type</option>
                                        <option value="Car loan">Car loan</option>
                                        <option value="Hire purchase">Hire purchase</option>
                                        <option value="Chattel mortgage">Chattel mortgage</option>
                                        <option value="Finance lease">Finance lease</option>
                                    </select>
                                </div>
                                <div class="margin-10"></div>
                                <div class="form-group">
                                    <label class="text-large">Requested Amount</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control input-lg"
                                               placeholder="Requested Amount"/>
                                    </div>
                                </div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <label class="text-large">Borrowers</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="Borrow1" name="Borrow" checked>
                                        <label for="Borrow1">I am the borrower</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Borrow2" name="Borrow">
                                        <label for="Borrow2">My company is the borrower</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group radio-button">
                                    <label class="text-large">Type of Vehicle</label>
                                    <select class="form-control input-lg">
                                        <option value="0" hidden="hidden">Type of Vehicle</option>
                                        <option value="Passenger Vehicle">Passenger vehicle</option>
                                        <option value="Commercial Vehicle">Commercial vehicle</option>
                                        <option value="Utility/SUV/4WD">Utility/SUV/4WD</option>
                                        <option value="MotorCycle">Motorcycle</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <label class="text-large">Year of manufacture</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-lg"
                                               placeholder="Year of manufacture"/>
                                        <span class="input-group-addon">Year(s)</span>
                                    </div>
                                </div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <label class="text-large">Preferred contact method</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="Contact1" name="Contact" checked>
                                        <label for="Contact1">Email</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Contact2" name="Contact">
                                        <label for="Contact2">Phone</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group radio-button">
                                    <label class="text-large">Anything else?</label>
                                    <textarea name="des" rows="5" class="form-control"
                                              placeholder="Anything else?"></textarea>
                                </div>
                                <div class="margin-10"></div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <button type="button" class="btn btn-lg btn-block btn-warning"
                                            (click)="car.submitted = 1">Submit Enquiry
                                    </button>
                                </div>
                                <div class="form-group radio-button" *ngIf="car.submitted == 1">
                                    <p class="alert alert-info">
                                        Thank you for submitting your offer application. We will contact you as soon as
                                        possible
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--Insurance Loan-->
                <div class="homeLoan animated previewUp" *ngIf="preview.insurance == 1">
                    <div class="col-sm-12">
                        <p class="alert alert-info text-center">
                            <strong>
                                Are you prepared for tomorrow? Submit an insurance enquiry and we will make sure you
                                are!
                            </strong>
                        </p>
                    </div>
                    <div class="col-sm-12 noPadding">
                        <form>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="text-large">Type of Insurance</label>
                                    <select class="form-control input-lg">
                                        <option value="0" hidden="hidden">Type of Insurance</option>
                                        <option value="House + contents (owner occupied)">House and contents (owner
                                            occupied)
                                        </option>
                                        <option value="House + contents (investment property)">House and contents
                                            (investment property)
                                        </option>
                                        <option disabled="disabled" value="More options coming soon">More options coming
                                            soon
                                        </option>
                                    </select>
                                </div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <label class="text-large">Preferred contact method</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="Contact1" name="Contact" checked>
                                        <label for="Contact1">Email</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Contact2" name="Contact">
                                        <label for="Contact2">Phone</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group radio-button">
                                    <div class="margin-10"></div>
                                    <h4>
                                        Before you go. You wouldn't even think about buying a home without insuring
                                        it. But are you insuring your biggest asset?
                                        <br><br>
                                        The good news is that covering yourself is easy with
                                        <a class="popover-cus">
                                            <strong>Loan Protection</strong>
                                            <span>
                                                    Your biggest asset is your ability to earn income.
                                                    Do you know how you (or your family) would meet the mortgage
                                                    repayments if you lost your job, suffered a serious injury or
                                                    illness, or even died? If you haven't got a clear plan to
                                                    protect your mortgage, you're not alone. Most people don't even
                                                    like to think about it – even though they need to.
                                                </span>
                                        </a> plan.
                                    </h4>
                                </div>
                                <hr>
                                <div class="form-group radio-button">
                                    <label class="text-large">Would you like to find out more ?</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="more1" name="more" checked>
                                        <label for="more1">Yes</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="more2" name="more">
                                        <label for="more2">No</label>
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group radio-button">
                                            <button type="button" class="btn btn-lg btn-block btn-warning"
                                                    (click)="insurance.submitted = 1">Submit Enquiry
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group radio-button" *ngIf="insurance.submitted == 1">
                                    <p class="alert alert-info">
                                        Thank you for submitting your offer application. We will contact you as soon as
                                        possible
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--Car Loan-->
                <div class="homeLoan animated previewUp" *ngIf="preview.loan == 1">
                    <div class="col-sm-12">
                        <p class="alert alert-info text-center">
                            <strong>
                                We believe that applying for a loan should be as easy as updating your Facebook status.
                                <br>
                                We use your financial profile and match it against our lenders guidelines and find you
                                the best
                                option for your circumstances.
                            </strong>
                        </p>
                    </div>
                    <div class="col-sm-12 noPadding">
                        <form>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="text-large">Loan Purpose</label>
                                    <select class="form-control input-lg">
                                        <option value="0" hidden="hidden">Loan Purpose</option>
                                        <option value="Debt Consolidation">Debt consolidation</option>
                                        <option value="Major purchase">Major purchase</option>
                                        <option value="Life event travel">Life event / Travel</option>
                                        <option value="Personal goods">Personal goods</option>
                                        <option value="Personal investment">Personal investment</option>
                                        <option value="Business">Business</option>
                                        <option value="Other">Others</option>
                                    </select>
                                </div>
                                <div class="margin-10"></div>
                                <div class="form-group">
                                    <label class="text-large">Amount <small>($2,000 - $50,000)</small></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control input-lg"
                                               placeholder="Requested Amount"/>
                                    </div>
                                </div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <label class="text-large">Loan Type</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="loanType1" name="loanType" checked>
                                        <label for="loanType1">Variable</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="loanType2" name="loanType">
                                        <label for="loanType2">Fixed</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group radio-button">
                                    <label class="text-large">Loan Term</label>
                                    <select class="form-control input-lg">
                                        <option value="0" hidden="hidden">Loan Term</option>
                                        <option value="36">36 months</option>
                                        <option value="48">48 months</option>
                                        <option value="60">60 months</option>
                                        <option value="84">84 months</option>
                                    </select>
                                </div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <label class="text-large">Preferred contact method</label>
                                    <div class="margin-10"></div>
                                    <p>
                                        <input type="radio" id="Contact1" name="Contact" checked>
                                        <label for="Contact1">Email</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="Contact2" name="Contact">
                                        <label for="Contact2">Phone</label>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group radio-button">
                                    <label class="text-large">Anything else?</label>
                                    <textarea name="des" rows="5" class="form-control"
                                              placeholder="Anything else?"></textarea>
                                </div>
                                <div class="margin-10"></div>
                                <div class="margin-10"></div>
                                <div class="form-group radio-button">
                                    <button type="button" class="btn btn-lg btn-block btn-warning"
                                            (click)="loan.submitted = 1">Submit Enquiry
                                    </button>
                                </div>
                                <div class="form-group radio-button" *ngIf="loan.submitted == 1">
                                    <p class="alert alert-info">
                                        Thank you for submitting your offer application. We will contact you as soon as
                                        possible
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
