/* You can add global styles to this file, and also import other style files */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div.homeLoan p.alert-info {
    color: #FFFFFF;
    background: #0C5DAF;
}

.radio-button [type="radio"]:checked+label:after,.radio-button [type="radio"]:not(:checked)+label:after{
    border:2px solid #8DC349;
}

.panel-primary>.panel-heading {
    background-color: #0C5DAF;
    border-color: #0C5DAF;
}

.panel-primary {
    border-color: #0C5DAF;
}
